<div class="form" id="editForm">
  <form class="editForm">
    <div class="form-group">
      <label for="title">Edit Title:</label>
      <input type="text" name="title" class="form-control" value="{{(fund | async)?.title}}" #title>
    </div>
    <div class="form-group">
      <label for="goalAmount">Edit Goal Amount:</label>
      <input type="text" name="goalAmount" class="form-control" value="{{(fund | async)?.goalAmount}}" #goalAmount>
    </div>
    <div class="form-group">
      <label for="description">Edit Description:</label>
      <textarea class="form-control" #description>{{(fund | async)?.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="contact">Edit Contact:</label>
      <input type="text" name="contact" class="form-control" value="{{(fund | async)?.contact}}" #contact>
    </div>
    <div class="form-group">
      <label>Edit Levels</label>
      <ul>
        <li *ngFor="let level of tempLevelArray">
          <p>{{level}}<button class="btn btn-danger levelDelete" (click)="deleteLevel(level)">X</button></p>
        </li>
      </ul>
      <input type="text" class="form-control" #level>
      <button (click)="addLevel(level.value); level.value = ''" class="btn btn-info levelAdd" id="add-level">Add New Level</button>
    </div>
    <div class="form-group">
      <label for="category">Edit Category:</label>
      <input type="text" class="form-control" value="{{(fund | async)?.category}}" #category>
    </div>

    <button type="button" name="button" (click)="saveFundChanges(title.value, goalAmount.value, description.value, contact.value, category.value)" class="btn btn-warning">Save Changes</button>
    <button type="button" name="deleteButton" (click)="deleteFund()" class="btn btn-danger">Delete Fund</button>
  </form>
