<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" #title>
  </div>
  <div class="form-group">
    <label for="goalAmount">Goal Amount</label>
    <input type="number" class="form-control" #goalAmount>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" #description></textarea>
  </div>
  <div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" class="form-control" #contact>
  </div>
  <div class="form-group">
    <label for="levels">Enter A Level</label>
    <input type="text" class="form-control" #level>
    <button (click)="addLevel(level.value); level.value = ''" class="btn btn-info" id="add-level">Add New Level</button>
    <div id="level-area">
      <p *ngFor="let level of levels">
      {{level}}
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" #category>
  </div>
  <button class="btn btn-primary" (click)="createNewFund(title.value, goalAmount.value, description.value, contact.value, category.value)">Create New Fund</button>
</form>
